@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.material-icons {
  color: grey;
  margin-right: 20px;
  margin-top: 20px;
}

.material-icons:hover {
  cursor: pointer;
  color: darkgrey;
}

.icon__container{
  display: flex;
  justify-content: flex-end;
}